.hero-container {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hero-content {
  max-width: 42vw;
}

.hero-greetings {
  font-size: 3rem;
}

.hero-job {
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
  font-size: 1.7rem;
}

.name-span {
  background: -webkit-linear-gradient(#080808, #646464);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  margin-bottom: 1.5rem;
}

.skill-icons {
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.skill-icons .react {
  color: #08d8fe;
}

.skill-icons .github {
  color: #1e1c1c;
}

.skill-icons .javascript {
  color: #f0dc55;
}

.skill-icons .css {
  color: #299cf8;
}

.skill-icons .html {
  color: #e95d2a;
}

.hero-img {
  width: 25rem;
  margin-right: 5rem;
}

@keyframes borderAnimation {
  0% {
    border-radius: 30% 60% 30% 50%;
    box-shadow: 0 0 15px 1px #ecfd7b;
  }
  25% {
    border-radius: 60% 30% 50% 30%;
    box-shadow: 0 0 15px 1px rgba(12, 112, 82, 0.7);
  }
  50% {
    border-radius: 40% 30% 30% 40%;
    box-shadow: 0 0 15px 1px rgb(223, 233, 131);
  }
  70% {
    border-radius: 30% 30% 60% 30%;
    box-shadow: 0 0 15px 1px #ecfd7b;
  }
  100% {
    border-radius: 50% 60% 40% 60%;
    box-shadow: 0 0 15px 1px rgba(0, 255, 0, 0.7);
  }
}

.bubble-border {
  width: 25rem; /* Adjust width as needed */
  height: 25rem; /* Adjust height as needed */

  border-radius: 50% 0% 50% 50%; /* Initial circular irregular shape */
  animation: borderAnimation 15s linear infinite alternate; /* Apply animation */
}
