.edu-container {
  padding: 2rem 4rem;
}

.edu-icon {
  margin-right: 0.6rem;
  /* font-size: 1.7rem; */
}

.education-titile {
  margin-bottom: 1.6rem;
}

.edu-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.single-edication {
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.institute {
  font-size: 1rem;
  margin-left: 1.8rem;
  margin-top: 0.4rem;
  font-weight: 600;
  color: rgb(77, 77, 77);
}

.single-edication ul {
  font-size: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
  line-height: 2rem;
}
