.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100vw; */
  background-color: #ffffff;
  z-index: 100;
}

.logo {
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}

.logo .last-name {
  font-size: 0.8rem;
}
.section-list {
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: 600;
  color: rgb(71, 69, 69);
  gap: 3rem;
}

.section-list a {
  color: rgb(71, 69, 69);
}

.logo a {
  color: black;
}

.section-list li {
  &:hover {
    color: black;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.primary-btn {
  background-color: #e8ff53;
  border-style: none;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  border-style: none;
  font-size: 1rem;
  border-radius: 5px;
  /* box-shadow: #ecfd7b 1.95px 1.95px 2.6px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-color: #ecfd7b;
    box-shadow: #c9d37d 0px 5px 15px;
  }
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: inherit;
}
